.wrapper {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

header {
  height: 150px;
  vertical-align: middle;
  text-align: center;
}
footer {
    height: 50px;
}

main {
    flex: 1;
    background-color: #455D87;
}

.logo {
  display: inline-block;
}

.cia {
  display: inline-block;
}

.agent {
  display: inline-block;
  height: 333px;
  width: 250px;
  padding: 1em;
}
